body {
  background-color: #FEF1EC;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.page-title {
  font-size: 40px !important;
  font-family: 'Montserrat', sans-serif;
  /* font-weight: lighter; */
}

.login-text {
  text-align: center;
}

.tabs {
  margin: 0px 185px;
}

.main-profile-pic {
  height: 75px;
  width: 75px;
  margin: 10px;
}

.article {
  display: flex;
  padding: 20px 0;
}

.article img {
  max-width: 220px;
  max-height: 150px;
}

.article-text {
  padding: 0 32px;
  font-size: 14px;
}

.article-text h1:hover {
  text-decoration: underline;
}

.article-text h1 {
  cursor: pointer;
  padding-top: 0px;
  margin-top: 8px;
  font-size: 20px;
}

.articles-container {

}

.input-fields .title {
  width: 500px;
  padding: 5px;
  font-size: 15px;
  font-family: monospace;
}

.input-fields .description {
  margin-top: 15px;
  width: 750px;
  height: 150px;
  font-size: 15px;
  padding: 5px;
  font-family: monospace;
}

.checkboxes {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.checkbox {
  margin-right: 25px;
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.2); /* IE */
  -moz-transform: scale(1.2); /* FF */
  -webkit-transform: scale(1.2); /* Safari and Chrome */
  -o-transform: scale(1.2); /* Opera */
  transform: scale(1.2);
  padding: 10px;
  margin-right: 5px;
}

.submit {
  width: 125px;
  height: 25px;
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  /* font-weight: bold; */
}

.project-container {
  border: 1px solid black;
  margin: 15px 0px;
}

.project {
  padding: 0px 10px;
}

.project-title {}

.project-description {
  font-size: 14px;
}

.techstack .author {
  position: absolute;
  right: 0;
  bottom: 0;
}

.techstack .author a {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  margin-right: 10px;
  vertical-align: bottom;
}

span.username {
  font-weight: bold;
}

.project .author img {
  width: 30px;
  border-radius: 20px;
  vertical-align: middle;
}

.techstack {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  position: relative;
}

.tech {
  margin-right: 20px;
  padding: 0px;
  font-size: 14px;
  /* color: #FEF1EC; */
  border: solid;
  border-width: 1px;
  background-color: rgb(252, 245, 243);
}

.tech p {
  margin: 7px !important;
}

.tab-list {
  border-bottom: 3px solid #000;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: 1px;
  padding: 0.5rem 0.75rem;
  font-family: 'Montserrat', sans-serif;
}

.profile-tab {
  position: relative;
  float: right;
  top: -5px;
}

.header {
  font-family: 'Montserrat', sans-serif;
}

.tab-list-active {
  background-color: #f9f3f1;
  border: solid #ccc;
  border-width: 5px 7px 0 1px;
}

.main h2 {
  text-align: center;
  font-size: 40px;
}

.main-profile-pic {
  height: 200px;
  width: 200px;
}

.user-info {
  display: inline-block;
  list-style: none;
  position: absolute;
  padding-top: 30px;
}

.user-info li {
  padding: 10px;
}
